<!DOCTYPE html>
<html>
<head>
	<title>Jolt Starter Template</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<!-- Jolt CSS includes (uncomment)
	<link rel="stylesheet" type="text/css" href="css/global.css" />
	<link rel="stylesheet" type="text/css" href="css/topbar.css" />
	-->
</head>
<body>

<!-- Jolt Topbar Component -->
	<header id="header">
		<div id="topbar">
			
			<!-- Mobile Icon markup -->
			<label for="mobile-checkbox" id="mobile-icon">
				<div class="burger-bar"></div>
				<div class="burger-bar"></div>
				<div class="burger-bar"></div>
			</label>
			<input type="checkbox" id="mobile-checkbox" />
			
			<!-- Test for CSS support - :checked support test -->
			<input type="checkbox" id="checked-support" checked="checked" />
			
			<!-- Logo Area -->
			<div id="main-logo"><h1>Jolt</h1></div>
			
			<!-- Navigation -->
			<nav id="main-nav">
				<ul>
					<li class="mobile-li"><a href="#">home</a></li
					><li class="mobile-li" ><a href="#">info</a></li
					><li class="mobile-li"><a href="#">folio</a></li
					><li class="mobile-li"><a href="#">contact</a></li>
				</ul>
			</nav>
			
			<div class="clear"></div>
		</div>
	</header>
<!-- End of Topbar -->	

	<!-- Topbar script included and start function (uncomment)
	<script type="text/javascript" src="js/nav.js"></script>
	<script type="text/javascript">topBar();</script> 
	-->
</body>
</html>